*.aux
*.gz
WeeklyTests/Veckotest 1.pdf
WeeklyTests/homeworkTest.pdf
WeeklyTests/homeworkTest.tex
*.out
WeeklyTests/Week2/Veckotest2.pdf
WeeklyTests/Week3/Veckotest3.pdf
WeeklyTests/Week4/SolutionsWeek4.bbl
WeeklyTests/Week4/SolutionsWeek4.blg
WeeklyTests/Week4/SolutionsWeek4.pdf
TermPapers/Termpaper1/SolutionsTermPaper1.pdf
WeeklyTests/Week2/SolutionsWeek2.pdf
WeeklyTests/Week3/SolutionsWeek3.pdf
